# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.cxx/

# --- Google Services & Secrets (LO MÁS IMPORTANTE) ---
# Esto bloquea tu token de Firebase/Google
google-services.json
app/google-services.json

# --- Android Studio ---
*.jks
*.keystore
/app/build/
